@font-face
{
font-family: ds-digi;
src: url(../fonts/DS-DIGI.TTF);
}

@font-face
{
font-family: PoiretOne;
src: url(../fonts/Poiret_One/PoiretOne-Regular.ttf);
}

 
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body, html {
	display:table;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:20px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
	background-color: #000000; background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc0NicgaGVpZ2h0PSc0Nicgdmlld0JveD0nMCAwIDUwIDUwJz4KCTxsaW5lIHgxPScxJyB5MT0nMCcgeDI9JzUxJyB5Mj0nNTAnIHN0cm9rZT0nIzE3MTcxNycgc3Ryb2tlLXdpZHRoPScxNC41Jy8+Cgk8bGluZSB4MT0nNDknIHkxPScwJyB4Mj0nLTEnIHkyPSc1MCcgc3Ryb2tlPScjMTcxNzE3JyBzdHJva2Utd2lkdGg9JzE0LjUnLz4KCTxsaW5lIHgxPSc1MCcgeTE9JzAnIHgyPScwJyB5Mj0nNTAnIHN0cm9rZT0nIzAwMDAwMCcgc3Ryb2tlLXdpZHRoPScxNC41Jy8+Cgk8bGluZSB4MT0nMCcgeTE9JzAnIHgyPSc1MCcgeTI9JzUwJyBzdHJva2U9JyMwMDAwMDAnIHN0cm9rZS13aWR0aD0nMTQuNScvPgo8L3N2Zz4=');
/* 	http://svgeneration.com/generate/Soft-Tiles?size=46&fill=000000&edge-size=14.5&edge=000000&shadow=171717& */
}

.display{
	width: auto;
    margin: 20px;
}

.display input{
	border: none;
	width: 100%;
	height: 100px;
	background-color: #8BA980;
	-moz-box-shadow: inset 0px 0px 5px #000000;
	-webkit-box-shadow: inset 0px 0px 5px #000000;
	box-shadow: inset 0px 0px 5px #000000;
	text-align: right;
	font-family: ds-digi;
	font-size: 70px;
}

.botoes{
	left: 20px;
	bottom: 20px;
	width: auto;
	height: auto;
/* 	margin: 20px; */
}

.numeros {
	position: fixed;
	left: 20px;
	bottom: 20px;
	float: left;
	width: 70%;
	height: 70%;
	text-align: center;
}

.operacoes {
	position: fixed;
	right: 20px;
	bottom: 20px;
	height: 70%;
	
	float: right;
	width: 30%;
/* 	height: auto; */
	text-align: center;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #171717;
    padding: 20px;
    width: 25%;
    height: 18%;
	text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    font-size: 24px;
    border: 1px solid #0f0f0f;
    background-image: linear-gradient(bottom, #171717 0%, #0f0f0f 100%);
    background-image: -o-linear-gradient(bottom, #171717 0%, #0f0f0f 100%);
    background-image: -moz-linear-gradient(bottom, #171717 0%, #0f0f0f 100%);
    background-image: -webkit-linear-gradient(bottom, #171717 0%, #0f0f0f 100%);
    background-image: -ms-linear-gradient(bottom, #171717 0%, #0f0f0f 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #171717),
        color-stop(1, #0f0f0f)
    );
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #454545, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #454545, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #454545, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.button .operacoes{
	width: 100% !important;
}

.button:FOCUS {
    background-image: linear-gradient(bottom, #0f0f0f 0%, #000000 100%);
    background-image: -o-linear-gradient(bottom, #0f0f0f 0%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #0f0f0f 0%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #0f0f0f 0%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #0f0f0f 0%, #000000 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #454545),
        color-stop(1, #0f0f0f)
    );
    
	-webkit-box-shadow: 0px 2px 0px #454545, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #454545, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #454545, 0px 1px 6px rgba(0,0,0,.4), inset 0px;
	
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
}

.button:HOVER {
    background-image: linear-gradient(bottom, #0f0f0f 0%, #000000 100%);
    background-image: -o-linear-gradient(bottom, #0f0f0f 0%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #0f0f0f 0%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #0f0f0f 0%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #0f0f0f 0%, #000000 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #454545),
        color-stop(1, #0f0f0f)
    );
    
	-webkit-box-shadow: 0px 2px 0px #454545, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #454545, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #454545, 0px 1px 6px rgba(0,0,0,.4), inset 0px;
	
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
}

.button:active {
    background-image: linear-gradient(bottom, #0f0f0f 0%, #000000 100%);
    background-image: -o-linear-gradient(bottom, #0f0f0f 0%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #0f0f0f 0%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #0f0f0f 0%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #0f0f0f 0%, #000000 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #454545),
        color-stop(1, #0f0f0f)
    );
    
	-webkit-box-shadow: 0px 2px 0px #454545, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #454545, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #454545, 0px 1px 6px rgba(0,0,0,.4), inset 0px;
	
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	
/* 	-webkit-transition: all .1s ease-in-out; */
/* 	-moz-transition: all .1s ease-in-out; */
/* 	transition: all .1s ease-in-out; */
	
}